body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    text-shadow: none !important;
    letter-spacing:.5px;
    color: #111111;
}

.search-bar {
    margin:20px;
    text-align: center;
}

.search-bar  input {
    width:75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top:10px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:4px;
}

.list-group-item {
    cursor: pointer;
    border-radius: 0!important;
}

.list-group-item:hover {
    background-color: #eee;
}


#logo {
    height:30px;
    float: left;
}

#search-icon {
    float: right;
}

#comments-icon {
    height:20px;
    position:absolute;
    bottom:20px;
    right:20px;
}

.details {
    height:168px;
    border-radius: 0!important;
    position:relative;
}

.main-vid-sub-text {
    font-weight:400;
}

h2 {
    font-size:18px;
    font-weight:900;
    line-height:24px;
}

p {
    font-size:14px;
    line-height:16px;
    font-weight:600;
}


